<?xml version="1.0" encoding="utf-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
<bean id="myperson" class="spring.com.myspring.pojo.Person">
    <property name="id" value="1111"></property>
    <property name="name" value="小明"></property>
    <property name="age" value="22"></property>

</bean>

</beans>